.template{
    display: flex;

    &__content{
        width: calc(100vw - 20rem);
        height: 100vh;
        max-height: 100vh;
        max-width: calc(100vw - 20rem);
        overflow: scroll;
        padding: 4rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__aside{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: calc(100vh - 5rem);
        width: 5rem;
        

        &__rigth{
            width: 5rem;
            height: 100%;
            background-color: $mainColor;
            box-shadow: -7px 0 3px -3px rgba(0, 0, 0, 0.473);
        }
    }
}

