@import "./variables";

.profile{
    position: relative;
    width: 100%;
    height: 100%;

    &__header{
        position: relative;
        width: 102%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 3rem;
        border-bottom: 1px solid black;

        &__imgcont{
            height: 10rem;
        }

        &__img{
            height: 100%;
        }

        &__content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__title{
                font-weight: bolder;

                &--pets{
                    text-align: start;
                }

            }

            &__subtitle{
                color: $mainColor;
                font-weight: bolder;
                font-size: 1rem;
            }
        }

        &__config{
            position: absolute;
            top: 5%;
            right: 0;
            transform: scale(0.5);
            cursor: pointer;
            transition: transform 0.2s ease;
    
            &:hover{
                transform: scale(0.6);
            }
        }
    }

    &__body{
        display: flex;
        height: 70%;
        width: 100%;
        overflow: hidden;

        &__pets{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;

            &__title{
                width: 100%;
                margin: 2rem;
                font-weight: bolder;
                font-size: 1.3rem;
            }

            &__content{
                width: 100%;
                height: 100%;
                padding: 1rem;
                overflow: scroll;

                &__fail{
                    font-size: 2rem;
                    font-weight: bolder;
                }

                
                &::-webkit-scrollbar{
                    display: none;
                }
            }

            &__card{
                width: 10rem;
                height: 16.5rem;
                border-radius: 25px;
                box-shadow: 2px 2px 5px grey;
                overflow: hidden;

                &__imgCont{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 8rem;
                }

                &__img{
                    width: 6.5rem;
                    height: 6.5rem;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 2px 2px 4px grey;
                }

                &__content{
                    width: 100%;
                    height: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    &__name{
                        font-size: 1.3rem;
                        font-weight: bolder;
                    }
                }
            }
        }

        &__reservations{
            width: 100%;
            height: 100%;

            &__title{
                margin: 2rem;
                font-weight: bolder;
                font-size: 1.3rem;
            }

            &__content{
                width: 100%;
                height: 100%;
                padding: 3rem;
                overflow: scroll;

                &::-webkit-scrollbar{
                    display: none;
                }
            }

        }

    }

    &__corner{
        position: absolute;
        width: 5rem;
        height: 5rem;
        
        &--1{
            top: -3%;
            left: -3%;
            border-top: solid 2px $mainColor;
            border-left: solid 2px $mainColor;
            border-top-left-radius: 7px;
        }

        &--2{
            bottom: -4%;
            right: -4%;
            border-bottom: solid 2px $mainColor;
            border-right: solid 2px $mainColor;
            border-bottom-right-radius: 7px;
        }
    }

}